.recipeForm {   
  position: flex;
  color: rgb(0, 0, 0);
  border:grey;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: 50%;
  height: 400px;;
  margin: 10px;
  margin-left: auto;
  margin-right:auto;
  background-color: rgba(195, 179, 179, 0.589);
  text-align: left;
  font-family:"Open Sans", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}


input {
  border-radius: 10px;
  font-family:"Open Sans", sans-serif;
}

select {
  border-radius: 10px;
  font-family:"Open Sans", sans-serif;
}

textarea {
  resize: none;
  border-radius: 10px;
  max-width: 100%;
}